main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-block: 1.5rem;
  margin-inline: auto;
  justify-content: center;
}

main img {
  min-width: 286px;
  height: 286px;
  min-height: 286px;
  object-fit: cover;
  flex: 1; 
}